<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Reminder</title>
    <link rel="stylesheet" href="/css/style.css">
    <title>TaskGojo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
       <div class="container row">
        <button class="nav-toggle" aria-label="open navigation">
            <span class="hamburger"></span>
        </button>
        <a href="#" class="logo">
            <img src="/img/cake.jpg" alt="Birthday" class="logo-img">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Service</a></li>
            </ul>
        </nav>
       </div> 
    </header>

    <main class="background">
        <div class="content">
            <h1 class="content-header"> Automated <br> <span>Birthday</span> <br> Mailer</h1>
            <p class="note">Your details has been successfully created <br>
                            You can go bck to the <a href="/home">homepage</a> </p>
        </div>

       
    </main>

    <script src="index.js"></script>
</body>
</html>